### Manipulando dados

###### 1 Comando Round

In [ ]:
valor_exemplo = 12.123456789
print(valor_exemplo)

12.123456789

In [ ]:
round(valor_exemplo, 2)

12.12

###### 2 Comando Len

A função len() retorna a quantidade de elementos de qualquer lista em python

In [ ]:
Lista = [1, 2, 3, 4, 5, 6, 7, 8, 9]
Dicionario = {
    'nome' : 'josé',
    'Idade' : 29
    }
Tupla = (1, 2, 3, 4)
String = 'Ola mundo'

In [ ]:
len(Lista)

9

In [ ]:
len(Dicionario)

2

In [ ]:
len(Tupla)

4

In [ ]:
len(String)

9

###### 3 Fatiamento de Strings

Strings são listas de bytes representando caracteres.
Podemos acessar suas posicões usando colchetes

In [ ]:
String_exemplo = "o meu nome é Ryan Junio"
print( type(String_exemplo))
print( len(String_exemplo))

<class 'str'>
23

In [ ]:
String_exemplo[0]

'o'

In [ ]:
String_exemplo[7]

'o'

In [ ]:
String_exemplo[18]

'J'

In [ ]:
CPF = 'CPF:123456789'
CPF[-9:]

'123456789'

###### 4 Manipulando Strings

Um tipo de dados bastante comum no dia a dia são strings ou cadeia de caracteres. o tipo de dados string é chamado de str, possui várias operações úteis. Algumas funções utilizadas são:
  1.replace

1.   count
2.   capitalize
3.   replace
4.   upper
5.   lower
6.   find
7.   strip
8.   split

In [ ]:
String = 'ola mundo'
print(String)

ola mundo

In [ ]:
len(String)

9

In [ ]:
type( String)

str

In [ ]:
# Replace -> substituir
String.replace('mundo', 'Mundao')

'ola Mundao'

In [ ]:
#transforma letras em maiusculas
String.upper()

'OLA MUNDO'

In [ ]:
#conta palavras
String.count('m')

1

In [ ]:
#transformação
Nome = 'ryan Junio'
Nome.capitalize()

'Ryan junio'

In [ ]:
# Verificar se existe dígitos na string
String_cpf = '123456789'
String_cpf.isdigit()

True

###### 5 Comando Input

A função Input() recebe como parâmetro uma string que será mostrada como auxilio ao usuário, geralmente o programa agurada receber

In [ ]:
input("digite alguma mensagem: ")

digite alguma mensagem: alguma mensagem

'alguma mensagem'

In [ ]:
Nome = input("qual seu nome?: ")
Idade = input("qual sua idade?: ")

print("seu nome é " + Nome + " e sua idade é " + Idade)

qual seu nome?: Ryan
qual sua idade?: 20
seu nome é Ryan e sua idade é 20

###### 6 Operadores de comparação

Os operadores de comparação são usados para comparar dois valores

In [ ]:
10 == 10

True

In [ ]:
10 > 15

False

In [ ]:
10 <= 11

True

In [ ]:
10 != 12

True

###### 7 Operadores Lógicos

Os operadores lógicos são usados para combinar instruções condicionais

In [ ]:
10 > 2 and 10 > 3

True

In [ ]:
10 > 0 or 10 > 1

True

In [ ]:
not 10 > 0

False

###### 8 Pacote DateTime

In [ ]:
type('01/01/2022')

str

In [ ]:
import datetime

In [ ]:
Dia_Hoje = datetime.datetime.today()
print(Dia_Hoje)

2022-12-06 22:08:23.107910

In [ ]:
type (Dia_Hoje)

datetime.datetime

In [ ]:
print(datetime.datetime.today().date())

2022-12-06

In [ ]:
Data = datetime.datetime.today().date()
Ano = Data.year
Mes = Data.month
Dia = Data.day

In [ ]:
print(Dia, Mes, Ano)

6 12 2022

In [ ]:
Data_antiga =  datetime.date(2022, 1, 1)
print(Data_antiga)

2022-01-01

In [ ]:
print(Data - Data_antiga)

339 days, 0:00:00

In [ ]:
Data.strftime('%d/%m/%y')

'06/12/22'

###### 9 Pacote Time

In [ ]:
import time

In [ ]:
print('Comecei agora...')
time.sleep(5)
print('terminei...')

Comecei agora...
terminei...

In [ ]:
agora = time.localtime()
print(agora)
print(type(agora))

time.struct_time(tm_year=2022, tm_mon=12, tm_mday=6, tm_hour=22, tm_min=28, tm_sec=55, tm_wday=1, tm_yday=340, tm_isdst=0)
<class 'time.struct_time'>

In [ ]:
time.strftime('%m/%d/%y, %H:%M:%S', agora)

'12/06/22, 22:28:55'

In [ ]:
Time_texto = '21 June, 2021'
time.strptime( Time_texto, '%d %B, %Y')

time.struct_time(tm_year=2021, tm_mon=6, tm_mday=21, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=0, tm_yday=172, tm_isdst=-1)

###### 10 Pacote Math

O python possui um conjunto de funções matemáticas integradas, incluindo um extenso módulo matemático, que permite realizar tarefas matemáticas em números

In [ ]:
import math

In [ ]:
Tupla = (10, 4, 20, 40)

In [ ]:
min(Tupla)
max(Tupla)

40

In [ ]:
abs(-7.25)

7.25

In [ ]:
pow(3, 4)

81

In [ ]:
math.sqrt(81)

9.0

In [ ]:
math.ceil(1.4)

2

In [ ]:
math.floor(1.4)

1

In [ ]:
math.pi

3.141592653589793

###### 11 Pacote Random

Este módulo implementa geradores de números aleatórios para várias distribuições

In [ ]:
import random

In [ ]:
Lista = [1, 2, 3, 4, 5, 6, 7, 8, 9]
random.choice(Lista)

5

In [ ]:
palavra = 'ryan oliveira'
random.choice(palavra)

'v'

In [ ]:
random.random()

0.016310369263042857

In [ ]:
random.randint(2, 10)

9

###### 11 Pacote Externo - Statistics

Este módulo fornece funções para calcular estatísticas matemáticas de dados numéricos e interage com as listas

In [ ]:
import statistics

In [ ]:
Lista = [12, 15, 67, 31, 8, 13,13, 35]

In [ ]:
sum(Lista) / len(Lista)

25.857142857142858

In [ ]:
statistics.mean(Lista)

25.857142857142858

In [ ]:
statistics.median(Lista)

14.0

In [ ]:
statistics.mode(Lista)

13

### Lógica de programação

###### Condicionais

if é declaração mais simples de tomada de decisão.
ele é usado para decidir se uma determinada instrução será executada ou não.

In [ ]:
# Condição se a pessoa for menor de 18 anos, ela nao entra no sistema
idade = int(input("Qual a sua idade?: "))

if idade >= 18:
  print("Voçê é maior de idade!")
else:
  print("Voçê não é maior de idade")

Qual a sua idade?: 3
Voçê não é maior de idade

###### Estrutura de Loop FOR

O loop FOR do python é usado para travessia sequencial, ou seja, é usado para iterar sobre um iterável como string, tupla, lista, etc. Ele se enquadra na categoria de iteração definida.

for variável in objeto:


*   loop

In [ ]:
for x in range(10):
  print(x)

print("fim do for e começo de um novo for")

0
1
2
3
4
5
6
7
8
9
fim do for e começo de um novo for

In [ ]:
for x in range(1, 100, 5):
  print(x)

1
6
11
16
21
26
31
36
41
46
51
56
61
66
71
76
81
86
91
96

In [ ]:
Lista = ['Brasil', 'Argentina', 'Uruguai', 'Paraguai']

for x in Lista:
  print(x)

Brasil
Argentina
Uruguai
Paraguai

###### Funções

Uma função é um bloco de código que só é executado quando é chamado.

In [1]:
def Boas_vindas():
  print("bem vindo")

Boas_vindas()

bem vindo

In [2]:
def soma_dois_numeros(a, b):
  print(a + b)

soma_dois_numeros(1, 3)

4

In [5]:
for loop in range(0, 10):
  import random
  x = random.random()
  y = random.random()

  soma_dois_numeros(x, y)

0.7045915868789139
0.4359533342209547
0.8685314657261891
1.8572428961315217
0.535340582374202
1.381514841492724
0.831658605903471
1.6388021768087078
0.5434199751226618
1.0163031630550026

###### Try

O try permite testar um bloco de código possibilitando evitar erros
O except permite que voçê lide com o erro
o else permite executar código quando não há erro
o finally permite que execute o código, independentemente do resultado dos blocos try e except

In [9]:
try:
  print(0 / 0)
  print("deu certo")
except:
  print("não deu certo")
finally:
  print("sou executado da mesma maneira")

não deu certo
sou executado da mesma maneira

###### Classes/Objetos

Python é uma linguagem orientada a objetos
Quase tudo em python é um objeto, com propriedades e métodos

In [13]:
class Pessoa:

  #construtor da classe
  def __init__(self, Nome, Idade):
    self.Nome = Nome
    self.Idade = Idade

  def Boas_vindas(self):
    print("seja bem vindo ", self.Nome)

  def Recusado(self):
    print("Seu acesso foi negado!")
  
  def maiorIdade(self):
    if self.Idade >= 18:
      print('Usuario é maior de idade')
    else:
      print("Usuario é menor de idade")
      self.Recusado()

In [15]:
pessoa = Pessoa("Ryan", 20)

In [16]:
pessoa.maiorIdade()

Usuario é maior de idade

In [17]:
pessoa.Boas_vindas()

seja bem vindo  Ryan

### Bibliotecas

##### Pandas

Analisando performance dos estudantes usando pandas

In [3]:
import pandas as pd
import numpy as np

In [11]:
df = pd.read_csv("StudentsPerformance.csv")

In [12]:
type(df)

pandas.core.frame.DataFrame

In [13]:
#5 primeiras linhas
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [14]:
# 5 ultimas linhas
df.tail()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [16]:
#quantidade de linhas e colunas
df.shape

(1000, 8)

In [19]:
#exibe o nome das colunas
df.columns

Index(['gender', 'race/ethnicity', 'parental level of education', 'lunch',
       'test preparation course', 'math score', 'reading score',
       'writing score'],
      dtype='object')

In [21]:
#verifica as colunas duplicadas
df.duplicated().sum()

0

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [23]:
#verifica a existencia de NaN
df.isna().sum()

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

In [24]:
#exibe alguns dados sobre o dataframe
df.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

In [25]:
#sumário estatistico - inclusive para as variáveis categoricas
df.describe(include= 'all')

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
count,1000,1000,1000,1000,1000,1000.00000,1000.000000,1000.000000
unique,2,5,6,2,2,NaN,NaN,NaN
top,female,group C,some college,standard,none,NaN,NaN,NaN
freq,518,319,226,645,642,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,66.08900,69.169000,68.054000
std,NaN,NaN,NaN,NaN,NaN,15.16308,14.600192,15.195657
min,NaN,NaN,NaN,NaN,NaN,0.00000,17.000000,10.000000
25%,NaN,NaN,NaN,NaN,NaN,57.00000,59.000000,57.750000
50%,NaN,NaN,NaN,NaN,NaN,66.00000,70.000000,69.000000
75%,NaN,NaN,NaN,NaN,NaN,77.00000,79.000000,79.000000
max,NaN,NaN,NaN,NaN,NaN,100.00000,100.000000,100.000000

In [27]:
#quantidade de valores únicos em cada coluna
df.nunique()

gender                          2
race/ethnicity                  5
parental level of education     6
lunch                           2
test preparation course         2
math score                     81
reading score                  72
writing score                  77
dtype: int64

In [28]:
#frequencia entre os generos
df.gender.value_counts()

female    518
male      482
Name: gender, dtype: int64

In [29]:
#categorias
df['parental level of education'].unique()

array(["bachelor's degree", 'some college', "master's degree",
       "associate's degree", 'high school', 'some high school'],
      dtype=object)

In [30]:
 provas = ['math score', 'reading score', 'writing score']

In [31]:
#ordena o dataset
df = df.sort_values(by = provas, ascending = False).reset_index(drop=True)

In [32]:
#coluna com as médias das provas
df['mean'] = df[provas].mean(axis=1)

In [33]:
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,mean
0,female,group E,bachelor's degree,standard,none,100,100,100,100.000000
1,male,group E,bachelor's degree,standard,completed,100,100,100,100.000000
2,female,group E,associate's degree,standard,none,100,100,100,100.000000
3,male,group E,associate's degree,free/reduced,completed,100,100,93,97.666667
4,male,group D,some college,standard,completed,100,97,99,98.666667

In [34]:
#agrupamento - agrupa os dados por genero e obtem estatisticas descritivas
df.groupby(by = 'gender')[provas].agg([np.mean, np.median]).T

gender                   female       male
math score    mean    63.633205  68.728216
              median  65.000000  69.000000
reading score mean    72.608108  65.473029
              median  73.000000  66.000000
writing score mean    72.467181  63.311203
              median  74.000000  64.000000

In [36]:
#consulta
df.query('(gender == "male") & (`test preparation course` == "none")\
& (`math score` >= 70)')

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,mean
15,male,group C,associate's degree,standard,none,97,93,91,93.666667
17,male,group E,some college,standard,none,97,87,82,88.666667
23,male,group D,master's degree,standard,none,95,81,84,86.666667
26,male,group E,some high school,standard,none,94,88,78,86.666667
30,male,group E,high school,standard,none,94,73,71,79.333333
...,...,...,...,...,...,...,...,...,...
401,male,group C,high school,standard,none,70,70,65,68.333333
403,male,group B,high school,standard,none,70,65,60,65.000000
406,male,group D,some college,free/reduced,none,70,63,58,63.666667
407,male,group C,high school,standard,none,70,56,51,59.000000
408,male,group E,high school,standard,none,70,55,56,60.333333